/*
 *Nav Header 
*/
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}


.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
    border-left: 1px solid #FB9086;
}



.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*Header QR code*/
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: calc(100% + 12px);
    padding: 8px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 3;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header_qr-link:nth-child(1) {
    margin-left: 11px;
}

.header_qr-link:nth-child(2) {
    margin-right: 11px;
}

.header_qr-dowload-img {
    height: 16px;
}

/*Animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Notification*/
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}
.header__notify {
    position: absolute;
    width: 404px;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;
    will-change: opacity,transform;
    z-index: 3;
    display: none;
}

.header__notify::before{
    content: "";
    display: block;
    border-width: 20px 26px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 0;
}

.header__notify::after{
    content: "";
    display: block;
    width: 88px;
    height: 20px;
    position: absolute;
    top: -21px;
    right: 0;
}

@keyframes headerNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    background-color: var(--white-color);
    height: 40px;  
    cursor: default;
}

.header__notify-header h3 {
    color: #a6a6a6;
    font-size: 1.6rem;
    line-height: 40px;
    margin: 0 0 0 12px;
    font-weight: 400;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    list-style: none;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: #fef1ee;
}
.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 4px;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgb(117 111 110);
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    color: var(--text-color);
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
}

/* User */
.header__navbar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    list-style: none;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    width: 152px;
    z-index: 1;
    padding-left: 0;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 3px;
    display: none;
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    border-width: 20px 26px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    right: 24px;
    top: -30px;
    z-index: -1;
}

.header__navbar-user-menu::before{
    content: "";
    display: block;
    width: 108px;
    height: 11px;
    position: absolute;
    top: -11px;
    right: 0;
}    

.header__navbar-user-menu-item:first-child{
    border-top-left-radius:3px ;
    border-top-right-radius:3px ;
}

.header__navbar-user-menu-item:last-child{
    border-bottom-left-radius:3px ;
    border-bottom-right-radius:3px ;
}

.header__navbar-user-menu-item-separate{
    border-top:1px solid rgba(0, 0, 0, 0.1) ;
}

.header__navbar-user-menu-item a{
    display: block;
    text-decoration: none;
    padding: 12px 15px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu-item a:hover{
    background-color: #fafafa;
    color: rgb(0 191 165);   
}